// Copyright Reserved xxx
// Sections @import
// --------------------------------------------------

//
// Summary
// --------------------------------------------------

/*
[1. Sections]
  [1.1 Body]
  [1.2 Header]
  [1.3 Page Container]
  [1.4 Footer]
  [1.5 SideBar]
  [1.6 Horizontal Menu]
  [1.7 Secondary SideBar]
*/

/* [1.1] Body
--------------------------------------------------
*/

// Variable
// --------------------------------------------------
$midnight-blue : #f5f5f6;

// Making
// --------------------------------------------------
html,
body {
  width: 100%;
  height: 100%;
  background-color: $midnight-blue;
}
// Btn Clean APC
.btn-clean-apc {
  position: fixed;
  left: $ktv-base-unit;
  top: $ktv-base-unit;
}

/* [1.2] Header
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_header";

/* [1.3] Page Container
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_container";

/* [1.4] Footer
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_footer";

/* [1.5] SideBar
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_sidebar";

/* [1.6] Horizontal Menu
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_horizontal_menu";

/* [1.7] Secondary SideBar
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/secondary_sidebar";

/* [1.7] Body
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/body";
